/* ===== NAVBAR ===== */
.navbar {
  position: sticky;
  top: 0;
  background: #111;
  z-index: 1000;
}


.navbar-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
}

.navbar-logo {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 18px;
}

/* ===== MENU ===== */
.navbar-menu ul {
  display: flex;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-menu a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
}

.navbar-menu a:hover {
  color: #f6c000;
}

/* ===== HAMBURGUESA ===== */
.navbar-toggle {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.navbar-toggle span {
  width: 24px;
  height: 2px;
  background: #fff;
  display: block;
  transition: all 0.3s ease;
}

/* ===== MOBILE ===== */
@media (max-width: 768px) {

  .navbar-toggle {
    display: flex;
  }

  .navbar-menu {
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    background: #111;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }

  .navbar-menu.open {
    max-height: 300px;
  }

  .navbar-menu ul {
    flex-direction: column;
    padding: 16px;
    gap: 16px;
  }
}