* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  html, body {
	/* height: 100%;
	margin: 0; */
	margin: 0;
	padding: 0;
	height: 100%;
	
}
	body {
		/* display: flex;
		flex-direction: column; */
		display: flex;
		flex-direction: column;
		min-height: 100vh;  
		background-color: #d0d0d0;
	}
	.portada > img{
		width:inherit;
		/* margin-top: 70px; */
	}
	.contacto > img{
		width:100%;
		height: auto;
		margin-top: 25%;
	}
	.container{
		margin-top: -50px;
	}
	.navbar-brand{
		font-size: 0.9em;
	}


/* body{

	margin:0;
	padding:0;
	width: 100%;
	background-color: #d0d0d0;
} */
main{
	/* display: flex;
	justify-content: center;
	flex-direction: column;
	width: 100%; */
	flex: 1;
   /* background-color: lightblue;  Solo para que veas que ocupa espacio */
	
}

/* 
main{
	flex: 1;
	padding: 1rem;
	max-width: 1200px;
	margin: 0 auto;
	width: 100%;
} */

/* .container{
	width:90%
	margin:10px auto;
} */
.portfolio-menu{
	text-align:center;
}
.portfolio-menu ul li{
	display:inline-block;
	margin:0;
	list-style:none;
	padding:10px 15px;
	cursor:pointer;
	-webkit-transition:all 05s ease;
	-moz-transition:all 05s ease;
	-ms-transition:all 05s ease;
	-o-transition:all 05s ease;
	transition:all .5s ease;
}


.portfolio-item .item{
	/*width:303px;*/
	float:left;
	margin-bottom:10px;
}

.portada{
	width: 100%;
	display: flex;
}
/**/

.popup-button {
	text-align: center;
	margin-top: 10px;
	position:absolute;
	z-index: 1500;
	margin-left: 40%;
	margin-top: -53%;
  }
  
  .popup-button .btn {
	display: inline-block;
	background-color: #007BFF;
	color: #fff;
	padding: 10px 15px;
	text-decoration: none;
	border-radius: 5px;
	font-size: 14px;
  }
  
  .popup-button .btn:hover {
	background-color: #0056b3;
  }
  
  footer {
    /* position: relative; */
	display: flex;
	justify-content: center;
    background-color: #f5b338;
    /* bottom: -100px; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 0px;
    padding: 1em 0;
    margin-top: auto;
}
.foto-1{
	background-image: url(/img/Flayer1.webp);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #000;
}

.foto-2{
	background-image: url(/img/Flayer2.webp);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #000;

}
.foto-3{
	background-image: url(/img/Flayer3.webp);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #000;
}
@media (min-width: 700px) and (max-width: 768px){
.contacto > img{
	width:100%;
	height: auto;
	margin-top: 25%;
}
.portada > img{
	width:inherit;
	/* margin-top: 70px; */
}
}
  @media (max-width: 768px) {
	.mfp-content {
	  width: 90% !important; /* Asegura que se adapte a pantallas pequeñas */
	}
	.carousel-item{
		height: 9.5rem;
	}
	.foto-1{
		background-image: url(/img/Flayer1.webp);
		background-position: center center;
		/* background-size: contain; */
		background-repeat: no-repeat;
		background-color: #000;
	}
	.foto-2{
		background-image: url(/img/Flayer2.webp);
		background-position: center center;
		/* background-size: contain; */
		background-repeat: no-repeat;
		background-color: #000;

	}
	.foto-3{
		background-image: url(/img/Flayer3.webp);
		background-position: center center;
		/* background-size: contain; */
		background-repeat: no-repeat;
		background-color: #000;
	}

  }
     /*Tablet*/
/* @media screen and (min-width:480px) and (max-width:960px){ */
/* @media (min-width:480px) and (max-width:960px){ */
	/* @media (min-width:820px) { */
/* @media (min-width:768px) { */

	/* @media only screen and (min-width: 768px) and (max-width: 991px){ */
		@media (min-width: 768px) and (max-width: 991px){

	main{
		width: 100%;
	}
	.portada{
		width: 100%;
		display:flex;
	}
	.portada > img{
		width:inherit;
		/* margin-top: 70px; */
	}
	.localidades > img{
		width:100%;
		height: auto;

	}
	.contacto >img{
		width: 100%;
	}
	.foto-1{
		background-image: url(/img/Flayer1.webp);
		background-position: center center;
		background-size:contain;
		background-repeat: no-repeat;
		background-color: #000;
	}

	.foto-2{
		background-image: url(/img/Flayer2.webp);
		background-position: center center;
		background-size: contain;
		background-repeat: no-repeat;
		background-color: #000;

	}
	.foto-3{
		background-image: url(/img/Flayer3.webp);
		background-position: center center;
		background-size: contain;
		background-repeat: no-repeat;
		background-color: #000;
	}

	/* .portada > img {
		max-width: 100%;
		height: auto;
	} */
}
  
    
/*Movil*/
@media (min-width:200px) and (max-width:480px){

	.portada > img{
		width: inherit;
		/* margin-top: 70px; */
	}
	.cartel{
		width: inherit;
	}
	.descripcion{
		font-family: "Rubik", sans-serif;
		color: black;
	}
	.localidades>img{
		display: flex;
		width: 100%;
	}
	.mfp-container{
		height: 80%;
	}
	.mfp-content{
		vertical-align: bottom;
	}
	.contacto{
		margin-top: 10px;
	}
	.contacto > img{
		width:100%;
		height: auto;
		margin-top: 25%;

	}
	.popup-button{
		margin-left: 35%;
		margin-top: -202px;
	}
	
}
 




/*PC*/
@media screen and (min-width:960px){
	.portada>img{
			width: 100%;
			height: auto;	 
	}
	.localidades>img {
		width: 100%;
		height: auto;
	  }
	  .contacto{
		margin-top: 330px;
	  }
	  .contacto > img{
		width:100%;
		height: auto;

	}
	.popup-button{
		margin-left: 48%;
	}
}